
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #f5f5f5;
}

.largeHeavy {
  color: #5f5d60;
  font-size: 32px;
  font-weight: 700;
}

.mediumHeavy {
  font-size: 20px;
  font-weight: 700;
}

.heavy {
  color: #5f5d60;
  font-size: 16px;
  font-weight: 700;
}

.smallHeavy {
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
}

.regular {
  color: #343234;
  font-size: 16px;
  font-weight: 500;
}

.regularLight {
  color: #B1B0B2;
  font-size: 16px;
  font-weight: 400;
}

.smallLight {
  color: #888689;
  font-size: 12px;
  font-weight: 400;
}

.smallLighter {
  color: #b1b0b2;
  font-size: 12px;
  font-weight: 400;
}

.mediumLight {
  color: #888689;
  font-size: 14px;
  font-weight: 400;
}

.gain {
  color: #00b39d;
}

.loss {
  color: #ff4501;
}

.container {
  margin: 25px;
}

.verticalLine {
  height: 100%;
  width: 1px;
  background-color: #DFDFDF;
  margin: 23.5px;
}

.horizontalLine {
  height: 1px;
  width: 100%;
  background-color: #DFDFDF;
  margin: 23.5px;
}